.detail {
  display: flex;
  background: white;
  border:none !important ;
  height: fit-content;

  
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 110px;
  background:white;
  border:none !important ;

  }

.paper {
  flex: 1; 
  background-color: transparent;
  margin-right: 400px; 
  margin-left: 20px; 
  height: 300px;
  margin-top: 100px;
}

.tab {
  margin-top: 100px !important; 
  flex: 0; 
  width: auto;
  margin-right: 400px !important;
}
