/* Estilos para la Navbar */
.navbar {
    width: 100%;
    position:static;
    margin-top: 0px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
    background-color: #dd6c6c !important; 
  }
  
  
  /* Estilos para los enlaces de navegación */
  .navbar-nav {
    margin-left: 760px;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #646cff;
  }
  
  
  