.navbar {
  position: static; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #dd6c6c !important;
  text-decoration: none ;
  
}

.navbar-nav {
  margin-left: 760px;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #646cff;
}
